body{
  background-color:white;
  text-align: center;
  background-image: url("aiub.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
form
{
  padding-top: 100px;
  text-align: center;
}

fieldset{
  background-color:lightgray;
  border-radius: 20px;
}


.button {
  background-color: green;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}